body {
font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic',sans-serif;
}

*{
 box-sizing: border-box;
 list-style: none;
}

div{
  padding: 0;
  margin: 0;
}

a, button{
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

a:hover, button:hover{
  text-decoration: none;
  opacity: 0.6;
}

a, div, button{
  outline:none;
}
a:hover, div:hover, button:hover{
  outline:none;
}
a:active, div:active, button:active{
  outline:none;
}
a:link, div:link, button:link{
  outline:none;
}
a:visited, div:visited, button:visited{
  outline:none;
}
